services:
  web:
    image: lironyo98/flask_quakeqatch:0.2.0
    build: .
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
    command: flask run --host=0.0.0.0 --port=5000
