name: Build & Push Docker

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 
          
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Configure git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Bump version
        run: |
          python -m pip install --upgrade pip
          python -m pip install bump2version
          python -m bump2version patch --no-input

      - name: Get version
        id: version
        run: |
          VERSION=$(grep 'current_version' .bumpversion.cfg | cut -d' ' -f3)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Found version: $VERSION"

      - name: Push commit & tag
        run: |
          git push origin main --tags

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            lironyo98/flask_quakeqatch:${{ steps.version.outputs.version }}
            lironyo98/flask_quakeqatch:latest
