name: Build & Push Docker

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Bump version
        run: |
          pip install bump2version
          bump2version patch --no-input

      - name: Push version bump
        run: |
          git push origin main --tags

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            lironyo98/flask_quakeqatch:$(cat version.txt)
            lironyo98/flask_quakeqatch:latest
